body {
    background-color: beige;
    overflow-x: hidden;
}
.first-row {
    background-color: rgb(55, 146, 126);
    padding: 2%;
    color: white;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#date-time {
    
    font-size: 1.8em !important;
    opacity: 0.8;
}
.checked:hover, .edit:hover, .delete:hover {
    transition: all 0.5s;
    opacity: 0.9;
    background-color: gray;
}
@media screen and (max-width: 410px) {
    .icon {
        width: 95% !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        justify-content: center;
        margin-top: 3%;
        text-align: right;
        padding-bottom: 1% !important;
    }
    .name {
        width: 100% !important;
    }
}